@charset "utf-8";

.slider--main{
  width:100%;
  height:385px;
  margin:0 auto;
  overflow:hidden;

  .slider--list{
    .item{
      .link{
        height:385px;
        margin:0 auto;
        display:block;
        .img{
          height:100%;
        }
      }
    }
  }
}