@charset "UTF-8";

@mixin ease-in-out($duration, $delay){
  transition:$duration $delay ease-in-out;
  -o-transition:$duration $delay ease-in-out;
  -moz-transition:$duration $delay ease-in-out;
  -webkit-transition:$duration $delay ease-in-out;
}

@mixin scale($x, $y){
  -ms-transform:scale($x, $y);
  -moz-transform:scale($x, $y);
  -webkit-transform:scale($x, $y);
  -o-transform:scale($x, $y);
  transform:scale($x, $y);
}

@mixin rotate($deg){
  -ms-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -webkit-transform:rotate($deg);
  -o-transform:rotate($deg);
  transform:rotate($deg);
}

@mixin gradient(){
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

@function em($px, $base: 14px){
  @return ($px / $base) * 1em;
}

@function rem($px, $base: 14px){
  @return ($px / $base) * 1rem;
}

@mixin line-clamp($lines, $line-height){
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  line-height: $line-height;
  max-height: ( $line-height * $lines );
}

@mixin ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ir{
  position:fixed;
  left:-999px;
  top:-999px;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}

@mixin clearfix{
  &:after{
    display: table;
    clear: both;
    content: '';
  }
}